@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');
@import "compass/css3";
@font-face {font-family: "Balboa Medium";
    src: url("https://db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.eot");
    src: url("https://db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/cbf744f006175e2f7bb1583c91e33882.svg#BalboaW01-Medium") format("svg");
}

@font-face {
font-family: 'Gotham Black Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Black Regular'), url('../fonts/Gotham-Black.woff') format('woff');
}

@font-face {
font-family: 'Gotham Light Regular';
font-style: normal;
font-weight: normal;
src: local('Gotham Light Regular'), url('../fonts/Gotham-Light.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.navbar-container {
  width: 100%;
  margin: 0;
  height: 80px;
  overflow: hidden;
  background-color: #FAFAFA;
  color: #666666;
  position: fixed;
  z-index: 1;
}

.brand {
  padding: 15px;
  font-family: 'Gotham Black Regular', 'Arial', sans-serif;
  letter-spacing: 5px;
  font-size: 25px;
}

.brand-image-section {
  float: left;
  margin-right: 20px;
}

.brand a {
  text-decoration: none;
}

.brand-text-section {
  margin: 5px;
  color: #666666 !important;
  text-decoration: none !important;
}

.brand-text-section span:first-of-type {
  margin-right: 15px;
  padding-right: 15px;
  border-right: solid #666666 2px;
}

.brand-text-section>.light {
  font-family: 'Gotham Light Regular';
}

.navbar {
  text-align: right;
  padding: 25px;
}

.navbar-list {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.navbar-list>li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}

.navbar-list>li>a {
  color: #666666;
  text-decoration: none;
}

.active {
    font-weight: bolder;
}

.wrapper {
  padding-top: 80px;
  width: 100%;
}

.hero {
  width: 100%;
  height: 350px;
  max-height: 350px;
  background-color: #E84A27;
  text-align: left;
}

.hero-text-section {
  color: #FFFFFF;
  font-family: 'Roboto Slab', serif;
  position: relative;
  width: 100%;
  padding: 60px 30px;
  height: 100%;
}

.hero-text-section h2 {
  font-weight: 700;
  font-size: 60px;
  margin: 0;
}

.hero-text-section>.sub-heading {
  font-size: 30px;
  margin-left: 5px;
}

.blue-text {
  color: #13294b;
}

.orange-text {
  color: #E84A27;
}

.underline {
  text-decoration: underline;
}

.emphasize {
  font-weight: bold;
}

.buttons-section {
  margin: 30px 0;
}

.buttons-section>.buttons {
  margin: 0 10px;
}

.buttons {
  border: solid 1px black !important;
  border-radius: 0px !important;
  height: auto !important;
  display: inline-block !important;
  cursor: pointer;
  padding: 10px !important;
  text-transform: uppercase !important;
  font-family: 'Gotham Light Regular' !important;
}


.buttons.blue a {
  color: #13294b;
  text-decoration: none;
}

.buttons.white a {
  color: #FFFFFF;
  text-decoration: none;
}

.buttons.white.solid {
  background-color: #13294b;
}

.buttons.blue.solid {
  background-color: #FFFFFF;
}

.buttons.white.outline, .buttons.blue.outline {
  background-color: none;
}

.about, .top3, .main-product, .product-list {
  background-color: #fafafa;
  border: 1px solid black;
  margin: 30px 0 0 0;
  padding: 30px 50px 10px 50px;
  width: 100%;
  text-align: center;
}

.main-product {
  padding: 30px 50px;
}

.about h3, .top3 h3, .product-list h3 {
  font-size: 30px;
  font-family: 'Gotham Black Regular', 'Arial', sans-serif;
  margin: 0;
}

.about h4, .top3 h4, .product-list h4 {
  font-size: 20px;
  font-family: 'Gotham Light Regular', 'Arial', sans-serif;
}

.about-text-section {
  font-family: 'Gotham Light Regular', 'Arial', sans-serif;
  text-align: left;
  margin: 30px 0;
  font-size: 16px;
}

.about-us-divider {
  height: 200px;
  width: 100%;
  background: linear-gradient(rgba(232, 74, 39, 0.75), rgba(232, 74, 39, 0.75)), url('img/about_bg.jpg') center center no-repeat;
  background-size: cover;
}

.top3 .row {
  margin: 30px 0;
}

.product-item {
  padding: 0 20px;
  height: 250px;
}

.product-item-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.product-item-title, .product-page-title {
  margin: 10px 0 0 0;
  font-size: 15px;
  font-family: 'Gotham Black Regular', 'Arial', sans-serif;
}

.product-item-title a, .product-item a {
    color: #666666;
    text-decoration: none;
}

.product-item-price, .product-page-price {
  font-family: 'Gotham Light Regular', 'Arial', sans-serif;
}

.footer {
  background-color: #13294b;
  color: #FFFFFF;
  margin: 50px 0 0 0;
  min-height: 80px;
  padding: 20px;
}

.footer .copyright {
  text-align: center;
  font-family: 'Gotham Light Regular', 'Arial', sans-serif;
}

.footer .copyright a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer .copyright a:hover {
  text-decoration: underline;
}

.footer .brand-footer {
  text-align: center;
  margin-top: 40px;
}

.footer .brand-image-section {
  float:none;
}

.footer h3 {
  font-size: 30px;
  font-family: 'Gotham Black Regular', 'Arial', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.footer .store-hours li {
  list-style-type: none;
  font-family: 'Gotham Light Regular', 'Arial', sans-serif;
  margin: 0;
  font-size: 18px;
}

.store-information .twelve.bottom {
  padding: 20px 0 0 0;
}

.getting-here-information, .give-us-a-call-information {
  font-size: 25px;
  font-family: 'Gotham Light Regular', 'Arial', sans-serif;
}

.footer .brand-text-section {
    color: #FFFFFF !important;
}

.footer .brand-text-section span:first-of-type {
    border-color: #FFFFFF;
}

.product-page-image {
  padding-top: 100%;
  width: 100%;
  background-color: #FFFFFF;
}

.product-information {
  text-align: left;
  padding-left: 50px;
}

.product-page-title {
  font-size: 40px;
}

.product-page-price {
  font-size: 30px;
}

.product-page-quantity {
  font-size: 20px;
  font-family: 'Gotham Light Regular', 'Arial', sans-serif;
  float: left;
  margin: 0 30px 0 0;
}

.product-page-description {
  margin: 15px 0 0 0;
  font-family: 'Gotham Light Regular', 'Arial', sans-serif;
}

.product-page-add-to-cart {
  margin: 15px 0 0 0;
}

.product-list .columns {
  margin: 30px 0;
}

.product-pagination-bullets {
  width: 100%;
}

.product-pagination-bullets .current {
  color: #666666;
}

.product-pagination-bullets .closed {
  color: #a7a7a7;
}

.prev_page, .product-pagination-bullets, .next_page {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.product-pagination-bullets .pagination:first-of-type {
  margin: 0;
}

.product-pagination-bullets .pagination {
  margin: 0 0 0 10px;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
}

.main-product .four {
  height: 300px;
}

.prev_page, .next_page {
  display: block;
  cursor: pointer;
}

.maciejs_garbo {
  margin: 20px 0;
  padding: 10px 10px 0 10px;
  border: 1px solid black;
  width: 400px;
  position: fixed;
  left: -500px;
  top: 20%;
  z-index: 100;
  background-color: #fafafa;
}

.maciejs_garbo h3 {
  font-size: 30px;
  font-family: 'Gotham Black Regular', 'Arial', sans-serif;
  margin: 0;
}

.maciejs_garbo p {
  display: block;
  font-size: 20px;
}

.mdev {
  position: fixed;
  padding: 15px;
  left: 54px;
  top: 23.2%;
  transform: rotate(90deg);
  transform-origin: left top 0;
  background-color: #13284B;
  color: white;
  cursor: pointer;
  display: block;
  z-index: 100;
}

.mdev.open {
  left: 454px !important;
}

.stats_container {
  margin: 0 0 15px 0;
}

.sales {
  font-size: 10px;
  display: inline-block;
  padding: 10px;
  color: #FFFFFF;
  background: #13284B;
  border-radius: 5px;
}

@media only screen and (max-width: 900px) {
  .hero-text-section {
    /*padding: 50px 20px;*/
  }
  .hero-text-section h2 {
    font-size: 45px;
  }

  .hero-text-section>.sub-heading {
    font-size: 25px;
  }

  .footer h3 {
    font-size: 25px;
  }

  .getting-here-information, .give-us-a-call-information {
    font-size: 15px;
  }

  .top3 .product-item {
    margin: 10px 0 0 0 !important;
    padding: 0;
  }

  .main-product .four.columns, .main-product .eight.columns, .top3 .product-item {
    width: 100% !important;
  }

  .main-product .product-page-image {
    margin: 0 auto;
  }
}


@media only screen and (max-width: 768px) {
  .mobile_symbol {
    /* Position */
    display: block;
  }

  .brand {
    margin: 5px 0;
    font-size: 15px;
    width: 80% !important;
  }

  .brand-text-section {
    padding: 5px;
  }

  .navbar {
    display: none;
  }

  .hero-text-section h2 {
    font-size: 35px;
  }

  .hero-text-section>.sub-heading {
    font-size: 20px;
  }

  .buttons {
      font-size: 10px;
  }

  .buttons-section>.buttons {
    margin: 0;
  }

  .about, .top3 {
    margin: 50px 0;
  }

  .product-information {
    padding: 0;
  }

  .product-item {
    margin: 10px 0;
  }

  .maciejs_garbo {
    width: 250px;
    top: 15%;
  }

  .maciejs_garbo h3, .maciejs_garbo p {
    font-size: 15px;
  }

  .maciejs_garbo .buttons {
    font-size: 10px;
  }

  .maciejs_garbo .buttons {
    padding: 5px !important;
  }

  .mdev {
    top: 18.15%;
    width: 150px;
    overflow: hidden;
  }
 
}


.bar-graph {
  padding: 0;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 425px;
  margin: 0;
}

.bar-graph li {
  display: block;
  padding: 1.5625rem 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
  max-width: 20%;
  height: 100%;
  margin: 0 1.8% 0 0;
  -webkit-flex: 1 1 15%;
      -ms-flex: 1 1 15%;
          flex: 1 1 15%;
}

.bar-graph .bar-graph-axis {
  -webkit-flex: 1 1 8%;
      -ms-flex: 1 1 8%;
          flex: 1 1 8%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bar-graph .bar-graph-label {
  margin: 0;
  background-color: none;
  color: #8a8a8a;
  position: relative;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    content: "";
    position: absolute;
    border-bottom: 1px dashed #8a8a8a;
    top: 0;
    left: 0;
    height: 50%;
    width: 20%;
  }
}

@media print, screen and (min-width: 40em) and (min-width: 64em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    width: 30%;
  }
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:after {
    left: auto;
    right: 0;
  }
}

.bar-graph .percent {
  letter-spacing: -3px;
  opacity: 0.4;
  width: 100%;
  font-size: 1.875rem;
  position: absolute;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .percent {
    font-size: 3.875rem;
  }
}

.bar-graph .percent span {
  font-size: 1.875rem;
}

.bar-graph .description {
  font-weight: 800;
  opacity: 0.5;
  text-transform: uppercase;
  width: 100%;
  font-size: 14px;
  bottom: 20px;
  position: absolute;
  font-size: 1rem;
  overflow: hidden;
}

.bar-graph .bar.primary {
  border: 1px solid #767676;
  background: linear-gradient(#767676, #767676 70%);
}

.bar-graph .bar.secondary {
  border: 1px solid #1779ba;
  background: linear-gradient(#1779ba, #1779ba 70%);
}

.bar-graph .bar.success {
  border: 1px solid #FF0000;
  background: linear-gradient(#FF0000, #FF0000 70%);
}

.bar-graph .bar.warning {
  border: 1px solid #ffae00;
  background: linear-gradient(#ffbe33, #ffae00 70%);
}

.bar-graph .bar.alert {
  border: 1px solid #cc4b37;
  background: linear-gradient(#d67060, #cc4b37 70%);
}

